footer nav {
    float: center;
}

footer nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

footer nav ul li a {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

footer {
    width: 100%;
    background-color: #222;
    padding: 60px 0px;
}